.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.searchInputs {
  margin-top: 50px;
  display: flex;
}

.searchContainer {
  position: relative;

  input {
    background-color: white;
    border: 0;
    border-radius: 2px 0 0 2px;
    font-size: 18px;
    padding: 15px 15px 15px 20px;
    height: 50px;
    width: 350px;
    justify-content: center;
    outline: none;
  }

  .searchIcon {
    height: 50px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .dataResult {
    position: absolute;
    top: calc(100% - 5px);
    background: rgba(255, 255, 255, 0.95);
    z-index: 5;
    left: 0;
    margin-top: 5px;
    width: 400px;
    height: fit-content;
    box-shadow: (0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .dataItem {
    width: 100%;
    height: 50px;
    align-items: center;
    color: #000;
  }
}

.clearBtn {
  cursor: pointer;
}

.movieList {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

  justify-content: space-evenly;
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;

  .listItem {
    color: white;
    text-align: center;
    align-content: center;
    border: 1px #fff solid;
    height: 80px;
    display: flex;
    justify-content: center;
    min-width: 30%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;

    transition: all 0.3s ease-in-out;

    position: relative;

    &:hover {
      background: white;
      color: #000000;
    }

    .favIcon {
      position: absolute;
      top: 50%;
      transform: translateY(
        -50%
      ); //reduces the margin of the div to align the icon and movie title

      right: 10px;
      height: 50px;
      width: 50px;
      display: flex;
      place-items: center;
      align-self: center;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1) translateY(-50%);
        color: #000000;
      }
    }
  }
}

.listItemFavourite {
  color: white;
}

.favIconColor {
  color: rgb(202, 250, 27);
  transition: all 0.3s ease-in-out;
}

.singleMovieContainer {
  color: white;
}
