.listItem {
  color: white;
  text-align: center;
  align-content: center;
  border: 1px #fff solid;
  height: 85px;
  display: flex;
  justify-content: center;
  min-width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 3px 20px;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  align-items: center;

  &:hover {
    background: white;
    color: #000000;
  }

  .listItemMovie {
    width: 80%;
  }

  .favIcon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px;

    &:hover {
      transform: scale(1.3);
      color: #000000;
    }
  }

  .favIconColor {
    color: rgba(255, 233, 25, 255);
    transition: all 0.3s ease-in-out;
  }
}
